<html>
<head>
  <title>Passenger details !!</title>
</head>

<body>
  <h3>Passenger details :</h3>
  <hr>
  
  <table>
    <tbody *ngIf='passengerdetail'>       
   <td>------{{passengerdetail.packagecompletedetail.packageid}}---</td>
   <td>{{passengerdetail.passengername}}--------</td>
  
  <td>{{passengerdetail.roomtype}}---</td>
  <td>{{passengerdetail.passengerdob | date}}---</td>
  <td>{{passengerdetail.cost}}-----</td>
  <tr>
  </table>
  <hr>
  <table>
    <tbody *ngIf='passengersdetail'>
      <tr *ngFor="let pdetail of passengersdetail">     
   <!--<td>------{{pdetail.packagecompletedetail.packageid}}---</td>-->
   <td>{{pdetail.passengername}}--------</td>
  
  <td>{{pdetail.roomtype}}---</td>
  <td>{{pdetail.passengerdob | date}}---</td>
  <td>{{pdetail.cost}}-----</td>
  <tr>
  </table>
  <hr>
</body>
</html>